<!DOCTYPE html>
<html>
	<head>
		<title>Reddit Respun</title>
		<favicon><!-- TODO!!! as image uri --></favicon>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div id="heading">
			<div id="personalisation">
				<div id="subreddit_input_container">
					<label for="subreddit_input">Subreddit: </label>
					<input type="text" id="subreddit_input" value="all">
				</div>

				<div id="subreddits"></div>

				<div id="login_form_container">
					<div id="login_stage_1">
						<input id="login_username" type="text" id="user" name="user" placeholder="username" />
						<input id="login_password" type="password" id="password" name="passwd" placeholder="password" />
						<button id="login_button">Login</button>
					</div>
					
					<div id="login_stage_2">
						<iframe id="login_iframe" src=""></iframe>
						<br>
						<label for="modhash">Copy the modhash value here:</label>
						<input type="text" id="modhash" />
						<button id="modhash_button">OK</button>
					</div>
				</div>

				<div id="logout_form_container">
					Logged in as: 
					<div id="currently_logged_in_username"></div>
					<button id="logout_button">Logout</button>
				</div>
				
			</div>

			<div id="new_ticker">
				<div>New:</div>
			</div>
		</div>


		
		<div id="reddit_list" class="middle_row"></div>

		
		<div id="reddit_content" class="middle_row">
			<iframe src=""></iframe>
		</div>

		

		<div id="footer"></div>




		<!-- UNDERSCORE TEMPLATES -->

		<script id="list_template" type="text/template">

			<div class="title">
				<% if (thumbnail.indexOf('http') > -1 && thumbnail.length > 1) { %>
					<div class="thumbnail"><img src="<%- thumbnail %>"></div>
				<% } %>
				<%- title %>
			</div>
			<div class="row_meta">
				<% if (over_18) { %>
					<span class="nsfw"><acronym title=​"Adult content: Not Safe For Work">NSFW</acronym></span>
				<% } %>
				<%- subreddit %> - (<%- domain %>)
			</div>
		</script>

		<script id="footer_template" type="text/template">
			<div id="title">
				<a href="<%- url %>" target="_blank">
					<%- title %>
				</a>
			</div>
			<div id="meta">
				submitted
				<div id="ago"><%- created_utc.toFuzzyTime() %> ago</div>
				by
				<div id="author">
					<a href="http://www.reddit.com/user/<%- author %>" target="blank"><%- author %></a>
				</div>
				-
				<div id="comments">
					<a href="http://www.reddit.com<%- permalink %>" target="blank"><%- num_comments %> comments</a>
				</div>
				 -
				<div id="url"><%- url %></div>
		</script>

		<script id="login_form" type="text/template">
			<form action="https://ssl.reddit.com/api/login/<%= user %>" method="POST" id="login_form" style="display:none">
				<input id="login_username" type="text" name="user" value="<%= user %>" placeholder="username" />
				<input id="login_password" type="password" name="passwd" value="<%= password %>" placeholder="password" />
				<input type="hidden" name="api_type" value="json" />
				<input id="login_submit" type="submit" value="Login" target="login" />
			</form>
			<div id="waiter">-</div>
			<script type="text/javascript">
				document.getElementById("login_form").submit();
				var waiter = document.getElementById("waiter");
				setInterval(function() { waiter.innerHTML = waiter.innerHTML + "-" }, 100);
			<%= endscript %>
		</script>

		<script id="subreddits_list_template" type="text/template">
			<% for (var i=0; i<subreddits.length; i++) { %>
				<a class="subreddit"><%- subreddits[i] %></a>
			<% } %>
		</script>


		<script src="jquery.js"></script>
		<script src="underscore.js"></script>
		<script src="app.js"></script>

	</body>
</html>
