html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#heading {
	padding: 5px;
	background-color: #CEE3F8;
}
#subreddit_input_container {
	float: left;
}
#subreddit_input {
	width: 8em;
}
#subreddits {
	margin-top: 3px;
}
#subreddits a {
	cursor: pointer;
}
#login_form_container {
	float: right;
}
#login_stage_2 {
	float: right;
	display: none;
}
#login_iframe {
	width: 500px;
	height: 3em;
	border: 0px;
	overflow: hidden;
	float: right;
}
#logout_form_container {
	display: none;
	float: right;
}
#new_ticker {
	margin-top: 2em;
}
#currently_logged_in_username {
	display: inline-block;
	font-weight: bold;
	margin-right: 0.5em;
}


.middle_row {
	display: inline-block;
	height: 80%;
	vertical-align: top;
}
#reddit_list {
	width: 25%;
	border: 1px solid #F8F8F8;
	padding: 0 0.3%;
	overflow: auto;
}
.reddit_list_row {
	padding: 1em 0.5em;
	border: 1px solid white;
	color: #333;
	min-height: 100px;
}
.reddit_list_row:hover {
	border: 1px solid #BBB;
}
.reddit_list_row:nth-child(odd) {
	background-color: #F8F8F8;
}
.reddit_list_row .thumbnail {
	margin: 0 7px;
	float: left;
}
.row_meta {
	font-size: 0.9em;
	color: #AAA;
}
.ajax_status {
	font-size: 2em;
	margin-top: 2em;
	text-align: center;
}


#reddit_content {
	width: 73%;
	border: 1px solid #CCC;
}
#reddit_content iframe {
	width: 100%;
	height: 100%;
	border-top: 1px solid #F8F8F8;
	border-bottom: 1px solid #F8F8F8;
	border-left: 0px;
	border-right: 0px;
}



#footer {
	text-align: center;
}
#title {
	font-size: 1.6em;
	max-width: 70%;
	margin: 0 15%;
}
.keyboard_hint {
	font-size: 0.8em;
	color: #666;
}
#meta {
	font-size: 0.8em;
	color: #888;
}
#meta a {
	color: #369;
}
#meta div {
	display: inline-block;
}
.nsfw {
	color: #AC3939;
	border-radius: 3px;
	border: 1px solid #D27979;
	font-size: x-small;
	padding: 0 2px;	
}

.white_background {
	background-color: #FFF;
}
.red_background {
    background-color: #FCC;
}

.yellow_background {
    background-color: #FFC;
}
.blue_background {
	background-color: #CCF;
}